<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes rooms</title>
    <script src="static/socket.io.min.js"></script>
    <script src="static/app.js" defer></script>
    <script src="static/alpine.min.js" defer></script>
    <style>
        .btn {
            border: none;
            background-color: cadetblue;
            padding: 5px;
            color: white;
            text-align: center;
            display: inline;
            cursor: pointer;
            display: inline;
            margin: 0px 5px;

        }

        .purge {
            margin-top: 30px;
            border: 1px solid black;
            background-color: red;
            height: 50px;
            padding: 10px;
            color: white;
        }

        .text {
            padding: 5px;
            border: none;
            border-bottom: 1px solid cadetblue;
            margin-right: 5px;
        }

        #chat {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
        }

        #list {
            flex: 1;
        }

        #messages {
            flex: 10;
            display: flex;
            flex-direction: column;

        }

        #conversation {
            flex: 20;
            height: 90%;
            padding-left: 5px;
            margin-bottom: 20px;
            border-left: solid 2px cadetblue;

        }

        #sender {
            flex: 1;
            height: 10%
        }

        #conversation h2 {
            margin-top: 0;
            margin-bottom: 20px;
            text-shadow: 2px 2px 2px cadetblue;
        }


        #list p {
            padding: 0 0 0 5px;
            margin: 0;
            cursor: pointer
        }

        .selected {
            background-color: cadetblue;
            color: white;
            padding-left: 10px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .moi {
            color: blue;
        }

        .other {
            color: red;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

</head>

<body>
    <div x-data="context" >
        <h1 x-text="username"></h1>
        <div x-show="! islogged">
            <label for="username">Login: </label>
            <input type="text" id="usename" x-model="username"><br/>
            <label for="password">Mot de passe: </label>
            <input type="password" id="password" x-model="password"><br/>
            <button @click="loging">Se connecter</button>
        </div>
        <div x-show="islogged">
            <div></div>
            <div id="chat">
                <div id="list">
                    <div class="btn" type="button" value="Déconnexion" onclick="deconnexion()">Déconnexion</div>
                    <div style="margin-top:30px">
                        <template  x-for="(m,friend) in messages">
                            <p :class="friend == currentFriend ? 'selected' : '' "  @click="selectFriend(friend)"><span x-text=(friend)></span><span x-show="notif[friend]">*</span></p>
                        </template>
                    </div>
                </div>
                <div id="messages" x-show="currentFriend !=''">
                    <div id="conversation">
                        <H2 v-if="currentFriend!=''">Discussion avec: <span x-text="currentFriend"></span></H2>
                        <template x-for="(message) in messages[currentFriend]">
                            <p style="padding:0px;margin:0px" v-for="(message) in messages[currentFriend]"><span
                                    :class="message.sender == username ? 'moi' :'other' " x-text="'['+message.date+']' + message.sender">:</span> <span x-text="message.text"></span></p>
                        </template x-for="">
                    </div>

                    <div id="sender" x-show="currentFriend !=''">
                        <div style="display:inline" v-if="currentFriend != 'robot'"><input class="text" type="text"
                                keydown="keydown" x-model="message" /><span class="btn"
                                @click="sendMessage()">Send</span></span></div>
                        <div class="btn" @click="vider()">Vider</div>
                        <div class="btn" @click="ping()">Ping</div>
                        <div class="btn" @click="initpurge=true" style="color:red">Purge</div>
                    </div>
                    <div class="purge" v-if="initpurge">
                        <div style="display:inline">Voulez vous vraiement purger ce contact :</div>
                        <div class="btn" @click="purge()">Oui</div>
                        <div class="btn" @click="initpurge=false">Non</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>